# Ignore Jekyll build outputs
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependencies
vendor/
.bundle/
Gemfile.lock

# MacOS
.DS_Store

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
tmp/
temp/
